html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Staatliches', cursive;
}

/* site header */

.header-name{
    position: relative;
    text-align: left;
    padding-left: 15px;
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    color: black;
    cursor: pointer;
}

.header-section{
    width: 100%;
    min-height: 100vh;
    padding-left: 2%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
}

.menu-icon{
    cursor: pointer;
    width: 30px; 
    display: none;
   }


.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;

    flex: 1;
    text-align: right;
}

nav ul{
    list-style-type: none;
    width: 80%;
    text-align: right;
    /* padding-right: 10px; */
    /* padding-top: 25px; */
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: crimson;
    text-decoration: none;
}

/* Short Intro About Me */
.intro-content{
    padding: 20%;
}

.featured-name {
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 375%;
    position: absolute;
    top: 270px;
    left: 100px;
}
  
.featured-jobtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 125%;
    position: absolute;
    top: 350px;
    left: 100px;
}
  
.featured {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 375%;
    position: absolute;
    top: 400px;
    left: 100px;
}

/* section for featured projects */
.featured-projects{
    background-color: black;
    width: 100%;
    height: 38rem;
    position: absolute;
    top: 45em;
    padding: 15px;
}

.grid-container{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    
}

img{
    opacity: 1;
    cursor: pointer;
    padding: 20px;
}

img:hover{
    opacity: 0.8;
    color: gainsboro;
    cursor: pointer;
}

.caption-1{
    font-family: 'Montserrat';
    font-weight:500;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    float: left;
}

.caption-1 img{
    height: 450px;
    width: 425px;
}

.caption-2{
    font-family: 'Montserrat';
    font-weight:500;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    float: left;
}
.caption-2 img{
    height: 450px;
    width: 425px;
}

.caption-3{
    font-family: 'Montserrat';
    font-weight:500;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    float: left;
}

.caption-3 img{
    height: 450px;
    width: 425px;
}

/* lava effect follow the mouse */
#lava-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }
  
  @keyframes lavaAnimation {
    0% {
      background-color: #ff0000;
      transform: scale(0);
    }
    100% {
      background-color: #ff00ff;
      transform: scale(2);
      opacity: 0;
    }
  }
  
  .lava-drop {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: lavaAnimation 1s linear;
  }

/* footer */
#footer{
    background-color: crimson;
    padding: 40px 0;
    width: 100%;
    height: 13.5rem;
    position: absolute;
    bottom: -150%;
}

#footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: black;
}

#footer .social a{
    font-size: 24px;
    color: white;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

#footer .social a:hover{
    opacity: 0.9;
}

#footer ul{
    color: #fff;
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

#footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

#footer ul li{
    display: inline-block;
    padding: 0 15px;
}

#footer ul li a:hover{
    opacity:1;
}

#footer .copyright{
    margin-top: 35px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

/* Extra Large Screens */
@media (min-width: 1200px) {
    /* CSS styles for extra large screens */

    .header-name{
        font-size: 225%;
    }

    nav ul{
        width: 70%;
     }

    .featured-projects{
        position: absolute;
        top: 55em;
        height: 35rem;}

    #footer{
        bottom: -180%;
    }

    nav ul li a{
        font-size: large;
    }

    .caption-1 img{height:350px;}
    .caption-2 img{height:350px;}
    .caption-3 img{height:350px;}
}

/* Desktop Large Screens */
@media (min-width: 992px) and (max-width: 1199px) {
    /* CSS styles for desktop large screens */
    .header-name{font-size: 225%;}
    nav ul{width: 70%; }
    .featured-projects{
        position: absolute;
        top: 55em;
        height: 35rem;}
    #footer{bottom: -230%;}
    nav ul li a{font-size: large;}
    .caption-1 img{height:350px;}
    .caption-2 img{height:350px;}
    .caption-3 img{height:350px;}
}

/* Small Screen Laptops */
@media (min-width: 768px) and (max-width: 991px) {
    /* CSS styles for small screen laptops */
    .header-name{font-size: 260%;}
    nav ul{width: 60%; }
    .featured-projects{
        position: absolute;
        top: 60em;
        height: 30rem;}
    #footer{bottom: -230%;}
    nav ul li a{font-size: medium;}
    .caption-1 img{height:300px;}
    .caption-2 img{height:300px;}
    .caption-3 img{height:300px;}
}

/* Tablets */
@media (min-width: 576px) and (max-width: 767px) {
    /* CSS styles for tablets */
    .header-name{
        font-size: 260%;
    }

    nav ul{
        width: 50%; 
    }

    .featured-projects{
        position: absolute;
        top: 60em;
        height: 105rem;
    }

    .grid-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .featured{
        font-size: 300%;
        padding-right: 10%;
    }

    #footer{
        position:absolute; 
        bottom: -450%;
    }

    nav ul li a{
        font-size: medium;
    }
    
}

/* Mobile Screens */
@media (min-width: 320px) and (max-width: 575px) {
    /* CSS styles for mobile screens */

    
    .featured-projects{
        position: absolute;
        top: 45em;
        height: 80rem;
    }

    .grid-container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
 
    #footer{
        bottom: -300%;
    }

    /* my name, job title, description */
    .featured{
        font-size: 170%;
        padding-right: 20%;
    }
    
    .featured-jobtitle{
        font-size: 150%;
        top: 320px;
        padding-right: 20%;
    }
    
    .featured-name{
        font-size: 200%;
        padding-right: 20%;
    }

    /* image for the featured projects  */
    .caption-1 img{height:300px;}
    .caption-2 img{height:300px;}
    .caption-3 img{height:300px;}

    /* hamburger menu  */
    .menu-icon{
        display: block;
     
    }
    
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    nav ul{
        width: 100%;
        background: crimson;
        position: absolute;
        top: 80%;
        right: 0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        padding-top: 5px ;
    }

    nav ul li a{
        font-weight: 500;
        font-size: large;
        color: #fff;
    }
        
}
