/* body{
    overflow: hidden;
} */

.header{
    background-color: white;
    position: fixed;
    height: 3em;
    width: 93.5em;
    border: 3px solid black;
}

.parallax{
    overflow: hidden;
    background-image: url("portfolio_bubble.png") ;
    /* max-height: 1000px; */
    min-height: 2500px;

    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


